@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    position: sticky;
    top: 0; /* Fija el navbar en la parte superior de la pagina */
    z-index: 100; /* Asegura que este por encima de otros elementos */
  }

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

nav ul li{
    margin: 0px 20px;       
}

#seleccionado{
    background: #359EF9;
    padding: 10px 30px;
    border-radius: 20px;
}

/*COVER*/

.cover{
    width: 100%;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
}

.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #FEBA0B;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #fff;
}

/*WAVE INICIO*/

.wave{
    width: 6000px;
    height: 300%;
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(../images/cerro.jpg);
    background-position: bottom;
}

.w1{
    animation: w1 7s linear infinite;
}

.w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-5px);
    }

    50%{
        transform: translateY(10px);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*Variable de estilo global*/
:root{
    --color-esqueleto:#EFF3F5;
}
